@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Eight Bit Dragon';
  src: url('$lib/assets/fonts/eight-bit-dragon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-classy-black: #000000;
  --color-poker-green: #35654d;
  --color-poker-dark-green: #1e3a27;
  --color-poker-darker-green: #0e1f14;
  --color-beige: #B19435;
  --color-golden-light: #FFDD7E;
  --color-golden-dark: #795F00;
  --color-dark-gray: #272727;
  --color-saulmon: #B96363;
  --color-red: #DC143C;
  --color-dutch-orange: #FF8300;
  
  --text-stroke-width-sm: 1px;
  
  --font-eight-bit: 'Eight Bit Dragon', monospace;
}

@utility text-outline {
  -webkit-text-stroke: var(--text-stroke-width-sm) black;
}

 * {
  touch-action: manipulation;
}

.input-text{
  @apply outline-none bg-classy-black text-white text-lg border-transparent border px-2 md:px-4 py-4 w-7/8 md:w-2/3 lg:w-1/2 rounded-lg;
}

.btn-width {
  @apply w-7/8 md:w-2/3 lg:w-1/2;
}

.btn {
  @apply h-16 h-16 font-eight-bit bg-poker-darker-green text-white text-xl uppercase text-center px-8 py-4 w-7/8 md:w-2/3 lg:w-1/2 rounded-lg transition-all duration-150 ease-in-out;



  &:disabled {
    @apply bg-white/20 text-white/40;
  }

  &:active,
  &:focus:active,
  &:focus-visible {
    @apply bg-poker-darker-green/80 scale-95;
  }

  @media (hover: none) and (pointer: coarse) {
    &:active,
    &:focus {
      @apply bg-poker-darker-green/80 scale-95;
    }
  }
}

.btn.btn-primary {
  @apply border-2 border-poker-green;
  &:active,
  &:focus:active,
  &:focus-visible {
    @apply bg-poker-green scale-95;
  }
}

.btn.btn-danger {
  @apply border-2 border-red;
  
  &:active,
  &:focus:active,
  &:focus-visible {
    @apply bg-red scale-95;
  }
}

.input-text{
  @apply bg-classy-black text-white text-lg border border-white/20 px-8 py-4 w-7/8 md:w-2/3 lg:w-1/2 rounded-lg;
}